.container {
  margin                    : 5%;
  height                    : 80%;
  display                   : flex;
  flex-direction            : column;
  align-items               : center;
  text-align                : center;
  font-family               : 'IBM Plex Mono', monospace;
  background-color          : #4d4947;
  box-shadow                : #F3ED7B 5px 5px, #b1ad34 10px 10px, #9a8c0b 15px 15px, #595003 20px 20px, #282405 25px 25px;
}

.header h1 {
  top                       : 0;
  position                  : sticky;
  width                     : 100%;
  padding                   : 0.5rem;
  color                     : white;
  background-color          : #323437;
  z-index                   : 1;
}

.main {
  height                    : 100%;
  padding                   : 1rem;
}

.footer {
  width                     : 100%;
  padding                   : 0.5rem;
  color                      : #FFD502
}
